.item {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.5715;
}

.title {
    display: inline-block;
}

.content {
    display: inline-block;
    margin-right: 8px;
}

.book_img {
    width: 180px;
    box-shadow: 0 0 5px 2px #e8e8e8;
}